:root{
    --red:#ff2e63;
    --black:#252a34;
    --blue:#08d9d6;
    --white:#eaeaea; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/* Boton Ir Arriba */

.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--red);
    text-align: center;
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}

.go-top:hover{
    border: 2px solid var(--blue);
    background: var(--red);
}

.go-top:hover span{
    color: #fff;
}

.go-top span{
    font-size: 40px;
    color: var(--black);
}

/* skew abajo  */

.skew-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color:  transparent transparent #fff transparent;
}

/* skew arriba */

.skew-arriba{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color:  #fff transparent transparent transparent;
    z-index: 10;
}


/* Menu de navegacion */

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color
    : var(--black);
}

.menu .list-container .lists{
    display: flex;
}

.menu .list-container .lists li{
    list-style: none;
}

.menu .list-container .lists li a{
    text-decoration: none;
    margin:  0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a.active{
    background: var(--red);
    color: #fff;
}

.menu .list-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}

/* IMG Header */

.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-header .welcome{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}

.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}

.img-header .welcome p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 25px;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}

.img-header .welcome > button:hover{
    background: var(--blue);
}

/* Nosotros */

.acerca-de{
    width: 100%;
    margin-top: 120px;
}

.acerca-de .info-container{
    width: 80% ;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 20px;
    text-align: center;
}

.acerca-de .info-container p{
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
}

.acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.acerca-de .info-container .about-gallery img{
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.acerca-de .info-container .about-more{
    width: 100%;
    display: flex;
    justify-content: center;
}

.acerca-de .info-container .about-more button{
    width: 120px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}

.acerca-de .info-container .about-more button:hover{
    background: var(--blue);
}

.our-projects{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/img-2.jpg);
    background-attachment: fixed;
    background-position: center;
    box-sizing: cover;
    margin-top: 100px;
}

.our-projects .deg-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

.our-projects .ejeZproject{
    position: relative;
    width: 100%;
    height: 100%;
}

.our-projects .container-project{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.our-projects .container-project .project-title{
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.our-projects .container-project .project-title h2{
    font-size: 50px;
    color: #fff;
    font-weight: normal;
}

.our-projects .container-project .project hr{
    background: #fff;
    width: 50%;
    margin: 10px auto;
}

.our-projects .container-project .project-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}

.our-projects .container-project .project-img img{
    width: calc(30% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

/* Testimonios */ 

.testimonio {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.testimonio .testimonios-title{
    width: 50%;
    margin: auto;
    text-align: center;
}

.testimonio .testimonios-title h2{
    font-size: 50px;
    color: var(--black);
    font-weight: normal;
    margin-bottom: 10px;
}

.testimonio .testimonios-title hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background:  var(--black);
    border:none ;
}

.testimonio .box-testimonios{
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonio .box-testimonios .card-testimonio{
    width: 45%;
    margin: 20px;
}

.testimonio .box-testimonios .card-testimonio .card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonio .box-testimonios .card-testimonio .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 10px;
}

.testimonio .box-testimonios .card-testimonio .testimonio-text{
    width: 100%;
    border: 2px solid var(--blue);
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.testimonio .box-testimonios .card-testimonio .testimonio-text h4{
    color: var(--red);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
}

.testimonio .box-testimonios .card-testimonio .testimonio-text p{
    font-size: 20px;
    color: var(--black);
    text-align: center;
    transition: 200ms;
}

.testimonio .box-testimonios .card-testimonio .testimonio-text:hover{
    border: 2px solid var(--red);
}

.testimonio .box-testimonios .card-testimonio .testimonio-text:hover h4{
    color: var(--blue);
}

/* Footer */

.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/img-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.footer .deg-footer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
}

.footer .footer-content{
    width: 90%;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 100px;
}

.footer .footer-content .footer-title{
    width: 50%;
    margin:auto;
    padding: 15px;
}

.footer .footer-content .footer-title h2{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 5px;
}

.footer  .formulario-content{
    width: 65%;
    background: #fff;
    border-radius:15px;
    border: 2px solid var(--blue);
    margin: 50px auto;
    padding: 40px;
    margin-bottom: 50px;
}

.footer .formulario-content #formulario{
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.footer .formulario-content #formulario label{
    font-size: 20px;
    text-align: center;
    color: var(--black);
    margin: 30px 0px 10px 0px;
}

.footer .formulario-content #formulario input{
    width: 90%;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    outline: none;
    border: 2px solid var(--blue);
    text-align: center;
    font-size: 18px;
    color: var(--black);
}

.footer .footer-content #formulario textarea{
    width: 90%;
    height: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    outline: none;
    border: 2px solid var(--blue);
}

.footer .footer-content #formulario .send{
    width: 100%;
    margin:  20px auto;
    display: flex;
    justify-content: center;
}

.footer .formulario-content #formulario button{
    width: 120px;
    height: 40px;
    text-align: center; 
    font-size: 20px;
    background: var(--red);
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.footer .formulario-content #formulario button:hover{
    background: var(--blue);
}

.footer .formulario-content #formulario .mensaje-form{
    width: 100%;
    margin: auto;
    padding: 20px;
}

.footer .formulario-content #formulario .mensaje-form p{
    font-size: 20px;
    color: var(--black);
    line-height: 35px;
}

.footer .footer-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background:rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-text p{
    font-size: 20px;
    text-align: center;
    color: #fff;
}

/* Media Query */

@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 30px;
        cursor: pointer;
    }
    .btn-menu > .fa-bars:hover{color: var(--red);}
    .btn-menu > .fa-times{color: var(--blue);}
    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px) ;
        background: #fff;
    }
    .menu .list-container .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--red);
    }
    .menu .list-container .lists li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--blue);
        text-align: center;
    }
    .menu .list-container .lists li a{
        font-size: 20px;
    }
    .menu .list-container .lists li a.active{
        background: none;
        color: var(--red);
    }
    .menu .list-container .lists li a:hover{
        background: none;
        color: var(--red);
    }
}

@media only screen and (max-width:750px){
    /* nosotros */
    .acerca-de .info-container .about-gallery {
        flex-direction: column;
    }
    .acerca-de .info-container .about-gallery img{
        width: 100%;
    }

    /* portafolio */

    .our-projects .container-project .project-img img{
        width: 80%;
        margin-bottom: 30px;
    }

}





